body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:108px;
  width:1580px;
  height:831px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1580px;
  height:831px;
}
#u1 {
  position:absolute;
  left:2px;
  top:408px;
  width:1576px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:467px;
  top:260px;
}
#u2_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u2_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:120px;
}
#u3_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:120px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#00463F;
  text-align:center;
}
#u4 {
  position:absolute;
  left:20px;
  top:36px;
  width:90px;
  height:48px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#00463F;
  text-align:center;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:48px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:652px;
  top:260px;
}
#u6_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u6_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:120px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:120px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#00463F;
  text-align:center;
}
#u8 {
  position:absolute;
  left:20px;
  top:48px;
  width:90px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#00463F;
  text-align:center;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:24px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:838px;
  top:260px;
}
#u10_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u10_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:120px;
}
#u11_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:120px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#00463F;
  text-align:center;
}
#u12 {
  position:absolute;
  left:20px;
  top:48px;
  width:90px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#00463F;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:24px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:656px;
  top:580px;
}
#u14_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u14_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:120px;
}
#u15_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:120px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#00463F;
  text-align:center;
}
#u16 {
  position:absolute;
  left:20px;
  top:48px;
  width:90px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#00463F;
  text-align:center;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:24px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:1021px;
  top:580px;
}
#u18_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u18_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:120px;
}
#u19_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:120px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#00463F;
  text-align:center;
}
#u20 {
  position:absolute;
  left:20px;
  top:36px;
  width:90px;
  height:48px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
  text-align:center;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:48px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:839px;
  top:420px;
}
#u22_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u22_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:120px;
}
#u23_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:120px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#00463F;
  text-align:center;
}
#u24 {
  position:absolute;
  left:20px;
  top:36px;
  width:90px;
  height:48px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#00463F;
  text-align:center;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:48px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:282px;
  top:260px;
}
#u26_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u26_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:120px;
}
#u27_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:120px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#00463F;
  text-align:center;
}
#u28 {
  position:absolute;
  left:20px;
  top:36px;
  width:90px;
  height:48px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#00463F;
  text-align:center;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:48px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:1208px;
  top:260px;
}
#u30_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u30_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:120px;
}
#u31_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:120px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#00463F;
  text-align:center;
}
#u32 {
  position:absolute;
  left:20px;
  top:48px;
  width:90px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#00463F;
  text-align:center;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:24px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:1023px;
  top:260px;
}
#u34_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u34_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:120px;
}
#u35_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:120px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#00463F;
  text-align:center;
}
#u36 {
  position:absolute;
  left:20px;
  top:48px;
  width:90px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#00463F;
  text-align:center;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:24px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:282px;
  top:420px;
}
#u38_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u38_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:120px;
}
#u39_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:120px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#00463F;
  text-align:center;
}
#u40 {
  position:absolute;
  left:20px;
  top:48px;
  width:90px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#00463F;
  text-align:center;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:24px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:471px;
  top:420px;
}
#u42_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u42_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:120px;
}
#u43_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:120px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#00463F;
  text-align:center;
}
#u44 {
  position:absolute;
  left:20px;
  top:36px;
  width:90px;
  height:48px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#00463F;
  text-align:center;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:48px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:282px;
  top:580px;
}
#u46_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u46_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:120px;
}
#u47_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:120px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#00463F;
  text-align:center;
}
#u48 {
  position:absolute;
  left:20px;
  top:36px;
  width:90px;
  height:48px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#00463F;
  text-align:center;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:48px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:1029px;
  top:420px;
  width:120px;
  height:120px;
}
#u50_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#00463F;
  text-align:center;
}
#u51 {
  position:absolute;
  left:1208px;
  top:420px;
  width:120px;
  height:120px;
}
#u51_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#00463F;
  text-align:center;
}
#u52 {
  position:absolute;
  left:1208px;
  top:580px;
  width:120px;
  height:120px;
}
#u52_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#FF0000;
  text-align:center;
}
#u53 {
  position:absolute;
  left:657px;
  top:420px;
  width:120px;
  height:120px;
}
#u53_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#00463F;
  text-align:center;
}
#u54 {
  position:absolute;
  left:844px;
  top:580px;
  width:120px;
  height:120px;
}
#u54_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#FF0000;
  text-align:center;
}
#u55 {
  position:absolute;
  left:469px;
  top:580px;
}
#u55_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u55_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:120px;
}
#u56_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:120px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#00463F;
  text-align:center;
}
#u57 {
  position:absolute;
  left:20px;
  top:48px;
  width:90px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#00463F;
  text-align:center;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:24px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:100px;
  top:796px;
  width:501px;
  height:24px;
  font-size:20px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:24px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:20px;
  top:80px;
  width:1580px;
  height:29px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1580px;
  height:29px;
}
#u63 {
  position:absolute;
  left:2px;
  top:6px;
  width:1576px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:20px;
  top:20px;
  width:1580px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1580px;
  height:60px;
}
#u65 {
  position:absolute;
  left:2px;
  top:22px;
  width:1576px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:40px;
  top:25px;
  width:50px;
  height:50px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u67 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:100px;
  top:27px;
  width:249px;
  height:41px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:41px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  white-space:nowrap;
}
#u70 {
  position:absolute;
  left:973px;
  top:39px;
  width:173px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:21px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:1201px;
  top:39px;
  width:132px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:21px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:940px;
  top:35px;
  width:30px;
  height:30px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u75 {
  position:absolute;
  left:0px;
  top:5px;
  width:30px;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:1170px;
  top:35px;
  width:30px;
  height:30px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u77 {
  position:absolute;
  left:0px;
  top:5px;
  width:30px;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:1400px;
  top:79px;
  width:200px;
  height:151px;
  overflow:hidden;
  visibility:hidden;
}
#u78_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:151px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u78_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:145px;
  font-size:14px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:145px;
}
#u80 {
  position:absolute;
  left:2px;
  top:64px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:30px;
  top:10px;
  width:140px;
  height:26px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:26px;
}
#u81_img.mouseOver {
}
#u81.mouseOver {
}
#u81_img.disabled {
}
#u81.disabled {
}
#u82 {
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:30px;
  top:44px;
  width:140px;
  height:26px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:26px;
}
#u83_img.mouseOver {
}
#u83.mouseOver {
}
#u83_img.disabled {
}
#u83.disabled {
}
#u84 {
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:30px;
  top:79px;
  width:140px;
  height:26px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:26px;
}
#u85_img.mouseOver {
}
#u85.mouseOver {
}
#u85_img.disabled {
}
#u85.disabled {
}
#u86 {
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:30px;
  top:113px;
  width:140px;
  height:27px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:27px;
}
#u87_img.mouseOver {
}
#u87.mouseOver {
}
#u87_img.disabled {
}
#u87.disabled {
}
#u88 {
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:40px;
  top:13px;
  width:30px;
  height:23px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:23px;
}
#u90 {
  position:absolute;
  left:0px;
  top:4px;
  width:30px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:40px;
  top:81px;
  width:30px;
  height:23px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:23px;
}
#u92 {
  position:absolute;
  left:0px;
  top:4px;
  width:30px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:40px;
  top:115px;
  width:30px;
  height:23px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:23px;
}
#u94 {
  position:absolute;
  left:0px;
  top:4px;
  width:30px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:40px;
  top:45px;
  width:30px;
  height:23px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:23px;
}
#u96 {
  position:absolute;
  left:0px;
  top:4px;
  width:30px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:1367px;
  top:39px;
  width:169px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:21px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:1336px;
  top:35px;
  width:30px;
  height:30px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u100 {
  position:absolute;
  left:0px;
  top:5px;
  width:30px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:1560px;
  top:34px;
  width:30px;
  height:30px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u102 {
  position:absolute;
  left:0px;
  top:1px;
  width:30px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:361px;
  top:38px;
  width:30px;
  height:30px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u104 {
  position:absolute;
  left:0px;
  top:1px;
  width:30px;
  word-wrap:break-word;
}
