body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:480px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
}
#u0_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:230px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:230px;
}
#u2 {
  position:absolute;
  left:2px;
  top:107px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:35px;
  font-family:'FontAwesome Bold', 'FontAwesome';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:35px;
}
#u4 {
  position:absolute;
  left:2px;
  top:10px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:10px;
  top:3px;
  width:30px;
  height:30px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u6 {
  position:absolute;
  left:0px;
  top:5px;
  width:30px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:40px;
  top:8px;
  width:37px;
  height:18px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:18px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:62px;
  top:55px;
  width:73px;
  height:16px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  visibility:hidden;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:40px;
  top:55px;
  width:1px;
  height:32px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:32px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:51px;
  top:71px;
  width:376px;
  height:68px;
  font-size:18px;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:68px;
}
#u14 {
  position:absolute;
  left:0px;
  top:12px;
  width:376px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:259px;
  top:175px;
  width:100px;
  height:35px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
}
#u15_img.mouseOver {
}
#u15.mouseOver {
}
#u15_img.disabled {
}
#u15.disabled {
}
#u16 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:119px;
  top:175px;
  width:100px;
  height:35px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
}
#u17_img.mouseOver {
}
#u17.mouseOver {
}
#u17_img.disabled {
}
#u17.disabled {
}
#u18 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
